<div style="width: 400px;">
    <h5 class="modal-title" id="exampleModalLabel" style="color:#000000; text-align: center">Deplacer Document</h5>
    <div style="height: 50px;"></div>
    <form [formGroup]="oppoSuitsForm_deplacer">
        <mat-select #mySelect name="codeRepertoire_deplacer"  formControlName="name" style="text-align: center;align-items: center;">

            <mat-option *ngFor="let suit of repertoire" [value]="suit.codeRepertoire">{{suit.nomRepertoire}}</mat-option>

        </mat-select>
        <br/>
        <br/>
        <br/>
        <div class="modal-footer" style="margin-top: 60px;">
            <br/>
            <mat-dialog-actions align="end"><br/><br/>
                <button mat-raised-button class="btn btn-outline-warning " type="submit" data-dismiss="modal"
                        mat-dialog-close tabindex="-1" (click)="enregistreDocument()">Enregistrer
                </button>
                <button mat-button (click)="onNoClick()">Fermer</button>
            </mat-dialog-actions>

        </div>

    </form>
</div>
