<!--&lt;!&ndash; Modal &ndash;&gt;-->
<!--<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">-->
<!--    <div class="modal-dialog" role="document">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title" id="exampleModalLabel1" style="color: #7b1fa2">Ajouter Repertoire</h5>-->
<!--                <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                    <span aria-hidden="true">&times;</span>-->
<!--                </button>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                <form #f="ngForm" >-->

<!--                    <div class="form-group row">-->
<!--                        <div class="col-sm-10">-->
<!--                            <input type="text" [(ngModel)]="repertoires.nomRepertoire" name="nomRepertoire" class="form-control" placeholder="Nom Repertoire">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="modal-footer">-->
<!--                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>-->
<!--                        <button type="button" (click)="save(f.value)" class="btn btn-primary" data-dismiss="modal" >Enregistrer</button>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->

<!--        </div>-->
<!--    </div>-->
<!--</div>-->
