<div class="wrapper fadeInDown">
    <div id="formContent" style="right: 15%">
        <!-- Tabs Titles -->
        <div class="d-flex justify-content-center mx-auto main-label">
            <h2 style="color:#3C4858">Inscription</h2>
        </div>
        <br/>
        <!-- Login Form -->
        <form [formGroup]="profileForm">
            <div class="md-form mb-2">
                <i class="fa fa-user prefix grey-text"></i>
                <input type="text"
                       id="orangeForm-name-signup"
                       class="fadeIn second" placeholder="Nom"
                       formControlName="signupFormModalUsername">

            </div>
            <div class="md-form mb-2">
                <i class="fa fa-envelope prefix grey-text"></i>
                <input
                        type="text"
                        id="defaultForm-email-signup"
                        placeholder=" Email"
                        formControlName="loginFormModalEmail"
                        class="fadeIn third"

                />

            </div>
            <div class="md-form">
                <i class="fa fa-lock prefix grey-text"></i>
                <input
                        type="password"
                        #pw
                        id="defaultForm-pass-signup"
                        placeholder="Mot de passe"
                        formControlName="loginFormModalPassword"
                        class="fadeIn fourth"

                />
            </div>
            <div class="md-form mb-9">
                <input type="submit" [disabled]="!profileForm.valid" (click)="onSignUp()" class="fadeIn fourth"
                       value="Enregistrer">

            </div>
            <div
                    *ngIf="showSpinner"
                    class="mt-4 d-flex align-middled-flex justify-content-center"
            >
                <mat-spinner [diameter]="27"></mat-spinner>
            </div>
            <div
                    *ngIf="showSuccess && !showFail"
                    class="text mt-3 mb-2 d-flex justify-content-center"
            >
                <a>
                    <i class="fa fa-check green-text"> </i>
                    Inscription effectuée avec succès
                </a>
            </div>
            <div
                    *ngIf="showFail"
                    class="text mt-3 mb-2 d-flex justify-content-center"
            >
                <a>
                    <i class="fa fa-check red-text"> </i>
                    Sign up Failed
                </a>
            </div>


            <div
                    *ngIf="component === 'landingPage'"
                    class="modal-footer d-flex justify-content-start"
            >
                <p class="black-text">
                    Already have an account ?
                    <a> <strong (click)="onSigninOpen()">Log in</strong> </a>
                </p>
            </div>
        </form>
    </div>
</div>


