<div *ngIf="documents" class="edit-form">

    <div style="width: 400px;">
        <form>
            <div class="form-group">
                <label for="nomDoc" style="color:#000000; text-align: center">Nom Document</label>
                <input class="form-control" id="nomDoc" [(ngModel)]="newDoc" name="nomDoc"/>

            </div>

            <div class="modal-footer">
                <button mat-raised-button mat-dialog-close tabindex="-1" type="submit" class="btn btn-outline-warning"
                        data-dismiss="modal" (click)="editDocument()">Enregistrer
                </button>
                <button mat-button (click)="onNoClick()">Fermer</button>
            </div>
        </form>
    </div>

</div>
