<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
    <div class="container-fluid">


        <button mat-raised-button class="navbar-toggler" type="button" (click)="sidebarToggle()">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <!--        <ul class="nav navbar-nav navbar-left ml-auto">-->

        <!--            <li class="nav-item dropdown">-->
        <!--                <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action"><img src="https://www.tutorialrepublic.com/examples/images/avatar/3.jpg" class="avatar" alt="Avatar"> {{name}} <b class="caret"></b></a>-->
        <!--                <ul class="dropdown-menu">-->
        <!--                    <li><a href="#" class="dropdown-item"><i class="fa fa-user-o"></i> Profile</a></li>-->
        <!--                    <li><a href="#" class="dropdown-item"><i class="fa fa-calendar-o"></i> Calendar</a></li>-->
        <!--                    <li><a href="#" class="dropdown-item"><i class="fa fa-sliders"></i> Settings</a></li>-->
        <!--                    <li class="divider dropdown-divider"></li>-->
        <!--                    <li><a href="#" class="dropdown-item"(click)="logout()"><i class="material-icons">&#xE8AC;</i> Me déconnecter</a></li>-->
        <!--                </ul>-->
        <!--            </li>-->
        <!--        </ul>-->
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">

                    <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action"
                       style="color:#171a1d;"><img src="" class="avatar" alt="Avatar"> {{name}} <b
                            class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" class="dropdown-item" routerLink="/profile"><i class="fa fa-user-o"></i> Profile</a>
                        </li>
                        <li class="divider dropdown-divider"></li>
                        <li><a href="#" class="dropdown-item" (click)="logout()"><i class="material-icons">&#xE8AC;</i>
                            Me déconnecter</a></li>
                    </ul>
                </li>
            </ul>

            <!--            <ul class="navbar-nav">-->

            <!--                <li class="nav-item dropdown">-->
            <!--                    <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
            <!--                        {{name}}-->
            <!--                        <p>-->
            <!--                            <span class="d-lg-none d-md-block">Some Actions</span>-->
            <!--                        </p>-->
            <!--                    </a>-->
            <!--                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">-->
            <!--                        <div> <a  >Profile</a>-->
            <!--                        </div>-->
            <!--                       <div> <a  (click)="logout()">déconnexion</a>-->
            <!--                       </div>-->
            <!--                    </div>-->
            <!--                </li>-->

            <!--            </ul>-->
        </div>
    </div>
</nav>

<!--

<nav class="navbar navbar-transparent navbar-absolute">
    <div class="container-fluid">
        <div class="navbar-header">
            <button mat-raised-button type="button" class="navbar-toggle" data-toggle="collapse" (click)="sidebarToggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javascript:void(0)">{{getTitle()}}</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="material-icons">dashboard</i>
                        <p class="hidden-lg hidden-md">Dashboard</p>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="material-icons">notifications</i>
                        <span class="notification">5</span>
                        <p class="hidden-lg hidden-md">Notifications</p>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)">Mike John responded to your email</a></li>
                        <li><a href="javascript:void(0)">You have 5 new tasks</a></li>
                        <li><a href="javascript:void(0)">You're now friend with Andrew</a></li>
                        <li><a href="javascript:void(0)">Another Notification</a></li>
                        <li><a href="javascript:void(0)">Another One</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                       <i class="material-icons">person</i>
                       <p class="hidden-lg hidden-md">Profile</p>
                    </a>
                </li>
            </ul>

            <form class="navbar-form navbar-right" role="search">
                <div class="form-group form-black is-empty">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="material-input"></span>
                </div>
                <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                    <i class="material-icons">search</i><div class="ripple-container"></div>
                </button>
            </form>
        </div>
    </div>
</nav> -->


<!--<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">-->
<!--    <div class="container-fluid">-->
<!--        <div class="navbar-wrapper">-->

<!--            <p>-->

<!--                <strong>Username:</strong> {{name}}<br/>-->
<!--                <strong>Username:</strong> {{email}}<br/>-->
<!--                &lt;!&ndash;<strong>Roles:</strong> {{info.authorities}}<br />-->
<!--                <strong>Token:</strong> {{info.token}}&ndash;&gt;-->
<!--                <br/><br/><br/>-->
<!--            </p>-->
<!--            <button class="btn btn-secondary" (click)="logout()">Logout</button>-->
<!--        </div>-->
<!--&lt;!&ndash;        <button mat-raised-button class="navbar-toggler" type="button">&ndash;&gt;-->
<!--&lt;!&ndash;            <span class="sr-only">Toggle navigation</span>&ndash;&gt;-->
<!--&lt;!&ndash;            <span class="navbar-toggler-icon icon-bar"></span>&ndash;&gt;-->
<!--&lt;!&ndash;            <span class="navbar-toggler-icon icon-bar"></span>&ndash;&gt;-->
<!--&lt;!&ndash;            <span class="navbar-toggler-icon icon-bar"></span>&ndash;&gt;-->
<!--&lt;!&ndash;        </button>&ndash;&gt;-->
<!--        <div class="collapse navbar-collapse justify-content-end" id="navigation">-->

<!--            <div    >-->


<!--            </div>-->
<!--&lt;!&ndash;            <ng-template #loggedOut>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="details-w3l py-5">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="container py-xl-5 py-lg-3">&ndash;&gt;-->
<!--&lt;!&ndash;                        <h3 class="title text-capitalize font-weight-light text-dark text-center mb-5" >Please&ndash;&gt;-->
<!--&lt;!&ndash;                            <span class="font-weight-bold">login</span>&ndash;&gt;-->
<!--&lt;!&ndash;                        </h3>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </ng-template>&ndash;&gt;-->


<!--&lt;!&ndash;        {{username}}&ndash;&gt;-->

<!--&lt;!&ndash;            <a (click)="clearCach()"   class="nav-link">LogOut</a>&ndash;&gt;-->
<!--&lt;!&ndash;            <ul class="navbar-nav p-0">&ndash;&gt;-->
<!--&lt;!&ndash;                <li&ndash;&gt;-->
<!--&lt;!&ndash;                        placement="bottom"&ndash;&gt;-->

<!--&lt;!&ndash;                        class="nav-item waves-light  pointer "&ndash;&gt;-->

<!--&lt;!&ndash;                >&ndash;&gt;-->

<!--&lt;!&ndash;                        <div class="row w-100">&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="col-md-4">&ndash;&gt;-->
<!--&lt;!&ndash;                                <div class="avatar ">&ndash;&gt;-->

<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </li>&ndash;&gt;-->

<!--&lt;!&ndash;                <ng-template #popTemplate class="w-100">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="col-md-5 mt-3 ml-1">&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="media">&ndash;&gt;-->
<!--&lt;!&ndash;                                <div>&ndash;&gt;-->

<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="col-md-5 mt-2 ml-1 mr-4 mb-3">&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="row ">&ndash;&gt;-->
<!--&lt;!&ndash;                                <div>&ndash;&gt;-->


<!--&lt;!&ndash;                                    <p&ndash;&gt;-->
<!--&lt;!&ndash;                                            style="cursor: pointer;"&ndash;&gt;-->
<!--&lt;!&ndash;                                            class="selectedPop mt-2"&ndash;&gt;-->
<!--&lt;!&ndash;                                            routerLink="/"&ndash;&gt;-->
<!--&lt;!&ndash;                                            (click)="clearCach()"&ndash;&gt;-->
<!--&lt;!&ndash;                                    >&ndash;&gt;-->
<!--&lt;!&ndash;                                        <i class="fa fa-close fa-lg grey-text ">&nbsp;</i>Logout&ndash;&gt;-->
<!--&lt;!&ndash;                                    </p>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                <div></div>&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </ng-template>&ndash;&gt;-->
<!--&lt;!&ndash;            </ul>&ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->

